doctype html
head
  meta[charset="UTF-8"]
  meta[name="viewport"][content="width=device-width"][initial-scale="1.0"]
  link[rel="stylesheet"][href="./css/filebrowser.css"]
  script[src="https://kit.fontawesome.com/74596594bf.js"][crossorigin="anonymous"]
  title Welcome #{username}
body
    div#useroverlay.shadow.rounded
        if username
            if profilepicture
                p
                    | Welcome 
                    a#name[name="username"]#{username}
                    img.circular[src=profilepicture][name="icon"][height=32][width=32][placeholder="icon"]
            else
                p
                    | Welcome 
                    a#name[name="username"]#{username}
                    img.circular[src="https://via.placeholder.com/128/5db3ad/ffffff/?text=?"][name="icon"][height=32][width=32][placeholder="icon"]
        else
            p
                | Welcome 
                a#name[name="username"]User
                img.circular[src="https://via.placeholder.com/128/5db3ad/ffffff/?text=?"][name="icon"][height=32][width=32][placeholder="icon"]
    div.filebrowser
        div.breadcrumbs
            if volumepath
                a[href="/home?path=/"]
                    span#folderName#{volumepath}
                span#arrow→
            each $p in path
                a[href="/home?path=/"+$p]
                    pan#folderName #{$p}
                span#arrow→
            pan#folderName #{endpath}
                div#container
        div.container
            each $file in files
                div.fileContainer
                    if $file.IsDir
                        a.file[href="/home?path="+$file.Path]
                            i.icon.far.fa-folder
                            span.name #{$file.Name}
                            span.details #{$file.FileCount}
                    else if $file.Extension == ".pdf"
                        a.file[href="/pdf-viewer?path="+ $file.Path + "&hash=" + $file.Hash]
                            i.icon.far.fa-file-pdf
                            span.name #{$file.Name}
                            span.details #{$file.SizeSI}
                    else
                        a.file[href="/home?path="+$file.Path]
                            i.icon.far.fa-file-alt
                            span.name #{$file.Name}
                            span.details #{$file.SizeSI}