doctype html
head
  meta[charset="UTF-8"]
  meta[name="viewport"][content="width=device-width"][initial-scale="1.0"]
  link[rel="stylesheet"][href="./PDFREADER/css/pdf-viewer.css"]
  script[src="https://kit.fontawesome.com/74596594bf.js"][crossorigin="anonymous"]
  title PDF Viewer
body
    div#container.container
        div#useroverlay.shadow.rounded
            if username
                if profilepicture
                    p
                        | Welcome 
                        a#name[name="username"]#{username}
                        img.circular[src=profilepicture][name="icon"][height=32][width=32][placeholder="icon"]
                else
                    p
                        | Welcome 
                        a#name[name="username"]#{username}
                        img.circular[src="https://via.placeholder.com/128/5db3ad/ffffff/?text=?"][name="icon"][height=32][width=32][placeholder="icon"]
            else
                p
                    | Welcome 
                    a#name[name="username"]User
                    img.circular[src="https://via.placeholder.com/128/5db3ad/ffffff/?text=?"][name="icon"][height=32][width=32][placeholder="icon"]
            p
                | Page 
                a#currentPage
                |  of 
                a#totalPages
        canvas#pdf-render
        script
            function post(path, params) {
                let formData = new FormData();
                for (const key in params) {
                    if (params.hasOwnProperty(key)) {
                    formData.append(key, params[key]);
                    }
                }
                fetch(path, {
                    method: 'POST',
                    body: formData 
                }).catch(err => console.log(err));
            }
        if Path
            script
                let PDF = {
                    url:                "/volume/#{Path}",
                    path:               "#{Path}",
                    user:               "#{username}",
                    doc:                null,
                    hash:               "#{Hash}",
                    scale:              2,
                    pageNum:            #{Page},
                    pageIsRendering:    false,
                    pageNumIsPending:   null
                }
        else 
            script
                const urlParams = new URLSearchParams(window.location.search);
                let PDF = {
                    url:                "/volume/"+urlParams.get("Path"),
                    path:               urlParams.get("Path"),
                    user:               "#{username}",
                    doc:                null,
                    hash:               urlParams.get("Hash"),
                    scale:              2,
                    pageNum:            1,
                    pageIsRendering:    false,
                    pageNumIsPending:   null
                }
                let params = {
                    "Result": null,
                    "VariableType": '{"Hash": "TEXT","Username": "TEXT","Page":"INTEGER","Path": "TEXT"}',
                    "Contains": '{}',
                    "Set": '{"Hash": "'+PDF.hash+'","Username": "'+PDF.user+'","Page":"'+PDF.pageNum+'","Path":"'+PDF.path+'"}',
                    "TableName": "PDFS",
                    "DatabaseOperation": "INSERT"
                }
                post("/query", params)

    script[src="https://mozilla.github.io/pdf.js/build/pdf.js"]
    script[src="./PDFREADER/js/main.js"]